/*Isto mantem o fundo da pagina em transparente*/
@font-face {
  font-family: SFPro;
  src: url(./SFPRODISPLAYREGULAR.OTF);
}

.container {
  filter: blur(5);
}

/*Aqui colocamos tudo em linha*/
/* .box {
  display: contents;
  justify-content: space-between;
} */

.name {
  font-size: 100px;
  color: white;
}

/*E dado um tamano ao texto*/
/* .name {
  color: #898989;
} */

/*E dado um tamanho a barra*/
.logo {
  height: 260px;
}

/*colocamos tudo ao centro da pagina*/

/* aqui chamamos as animacoes juntamente com a sua posicao*/
/*A animacao tem 2 tempos um de entrada que e o primeiro e o de saida q e o segundo*/
.logo {
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  animation: bar-in 1s forwards, bar-out 1s 5s forwards;
}

/* aqui chamamos as animacoes e a sua duracao juntamente com a sua posicao*/
/*A animacao tem 2 tempos um de entrada que e o primeiro e o de saida q e o segundo*/
.name {
  opacity: 0;
  margin-left: 55%;
  transform: translateX(-45px);
  animation: name-in 1s 1s forwards, name-out 1s 5s forwards;
}

/*Animacao de entrada da barra*/
@keyframes bar-in {
  0% {
    left: -100px;
  }
  100% {
    left: 28%;
  }
}

/* Animacao de saida da barra */
/*Animacao de saida da barra*/
@keyframes bar-out {
  0% {
    opacity: 1;
    transition: translateX(0) ; /* Garante que o logo não se mova para baixo */
  }
  100% {
    opacity: 0;
    transition: translateX(100%) translateY(50%); /* Move o logo apenas para a direita */
  }
}


/*Animacao de entrada do texto*/
@keyframes name-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*Animacao de saida do texto*/
@keyframes name-out {
  20% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}




